* {
margin:0;
padding:0;
position:relative;
}

html {
background: #86cc8b;
}

body {
background: transparent;
color:#333;
font-size: 16px;
font-size: 1rem;
font-family:arial,sans-serif;
z-index:1;
}

a {
text-decoration:none;
}

ul {
list-style-type:none;
}

.site {
z-index:3;
}

.content {
margin: 0 auto;
z-index:9;
}

.nav {
display: block;
width: 227px;
height: 40px;
overflow: hidden;
margin: 0 auto 10px;
clear: both;
text-align: center;
background: #fff;
z-index:102;
}

a.nav_item {
display: block;
float: left;
width: 75px;
text-align: center;
z-index:6;
background: #fff;
padding: 0 0 10px 0;
}

a.archive_link {
border-width: 0 1px;
border-style: solid;
border-color: #86cc8b;

}

a.nav_item:hover {
background: #eee;
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZWVlZWUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #ffffff 0%, #eeeeee 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#eeeeee));
background: -webkit-linear-gradient(top,  #ffffff 0%,#eeeeee 100%);
background: -o-linear-gradient(top,  #ffffff 0%,#eeeeee 100%);
background: -ms-linear-gradient(top,  #ffffff 0%,#eeeeee 100%);
background: linear-gradient(to bottom,  #ffffff 0%,#eeeeee 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 );

}

a.nav_item img{
margin-top: 8px;
}

.comic {
background: #fff;
text-align: center;
margin: 0 auto;
padding: 0;
z-index:100;
}

.comic img {
width: 95% !important;
max-width: 2048px !important;
margin: 0 auto;
z-index:101;
}

.posts_list {
padding:5px;
z-index:10;
}

a.comic_nav {
display:block;
position:absolute;
top:0;
height:100%;
width:47%;
color: #888;
z-index:120;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=74)";
filter: alpha(opacity=74);
-moz-opacity: 0.74;
-khtml-opacity: 0.74;
opacity: 0.74;
}

a.comic_nav:hover {
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
filter: alpha(opacity=100);
-moz-opacity: 1;
-khtml-opacity: 1;
opacity: 1;
text-decoration: none;
color: #222;
}

a.comic_nav_prev {
left: 5px;
background: transparent url(/assets/img/pr.png) no-repeat left center;
background-size: 16px 96px;
text-align:left;
}

a.comic_nav_next {
right: 5px;
background: transparent url(/assets/img/nx.png) no-repeat right center;
background-size: 16px 96px;
text-align:right;
}

a.copyright {
width: 225px;
color: #fff;
margin: 0 auto 10px;
text-align:center;
display:block;
z-index:102;
}

a.copyright:hover {

}

a.copyright img {
margin: 0 0 -6px 0;
}

.home a.comic_nav_prev:first-child {
display:none;
}

/* ARCHIVE */

.quotes { color:#888; height: 150px; background: #fff; text-align: center; }

.archive {
margin: 0 auto;
text-align: center;
width: 300px;
}

.archive h3 {
color: #fff;
font-weight: 400;
}

.archive li a {
color: #fff;
text-transform: lowercase;
}

.archive li:first-child a {
text-transform: uppercase;
}

.archive li a:hover{
color: #222;
}

archive li a:visited{
color: red;
}

/* Small screen */

@media all and (max-width: 840px) {

.comic img {
width: 90% !important;
}

}

@media all and (max-width: 340px) {

.comic img {
width: 85% !important;
}

}

/* Responsive Comics */

.landscape { display: block !important; }
.portrait { display: none; }

@media all and (orientation: portrait) {
 
.landscape { display: none !important; }
.portrait { display: block; }
 
 }

/*!
 * Hover.css (http://ianlunn.co.uk/)
 * Version: 1.0.8
 * Author: Ian Lunn @IanLunn
 * Author URL: http://ianlunn.co.uk/
 * Github: https://github.com/IanLunn/Hover

 * Made available under a MIT License:
 * http://www.opensource.org/licenses/mit-license.php

 * Hover.css Copyright Ian Lunn 2014.
 */

/* Wobble Horizontal */
@-webkit-keyframes wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }

  33.3% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }

  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }

  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }

  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }

  33.3% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }

  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }

  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }

  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.wobble-horizontal {
  display: inline-block;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.wobble-horizontal:hover, .wobble-horizontal:focus, .wobble-horizontal:active {
  -webkit-animation-name: wobble-horizontal;
  animation-name: wobble-horizontal;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
