* {
margin:0;
padding:0;
position:relative;
}

html {
background:#222420;
}

body {
margin:0;
background: #222420;
color:#333;
font-size: 16px;
font-size:1rem;
font-family:arial,sans-serif;
z-index:1;
}

h1.title {
text-align: center;
padding: 5px 0;
background: #45484d;
}

h1.title a {
display:block;
font-size: 28px;
font-size: 1.75rem;
 text-shadow:   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 2px 0 #000,
     2px 2px 0 #000;
}

h1.title a span {
font-size: 20px;
font-size: 1.25rem;
}

a.copy_paste_share {
display: block;
width: 100%;
color:#fff;
text-align: center;
float: right;
margin: 10px 0;
z-index: 20;
}

h2 {
padding: 10px;
}

a {
color:#fff;
text-decoration:none;
}

a:hover {
color: #acd373;
}

ul {
list-style-type:none;
}


.archive ul.posts_list li {
margin: 0 auto 5px;
width: 280px;
text-align: left;
text-indent: 10px;
}

.archive ul.posts_list li a {
display: block;
padding: 5px 0;
border: 1px solid #acd373;
}

.archive ul.posts_list li a.Sunday-archive {
background: #fed159;
}

.archive ul.posts_list li a:hover {
background: #333;
color: #fcf6ee;
}

.archive ul.posts_list li:first-child {
text-align: center;
text-indent: 0;
}

.archive ul.posts_list li:first-child a{
display: block;
font-weight:700;
padding: 15px 0;
background: #333;
}

.archive ul.posts_list li span {
display: none;
}

.archive ul.posts_list li:first-child a span {
display: block;
margin: 0 0 10px 0;
font-size: 20px;
font-size: 1.25rem;
text-transform: uppercase;
}

.archive ul.posts_list li a:hover,
.archive ul.posts_list li:first-child a:hover{
background: #555;
color: #fff;
}

.site {
z-index:3;
}

.content {
width: 300px;
margin: 0 auto;
line-height: 20px;
line-height: 1.25rem;
text-align: center;
z-index:9;
}

.nav {
display: block;
padding: 12px 0;
border-top: 1px solid #333;
border-bottom: 1px solid #333;
text-align: center;
z-index:30;
}

a.nav_item {
display: inline;
padding: 12px;
text-align: center;
z-index:6;
}

a.nav_item:hover {

}

.comic {
text-align: center;
padding: 10px 0;
margin: 0 auto;
background: #45484d;
background: -moz-linear-gradient(top,  #45484d 0%, #222420 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#222420));
background: -webkit-linear-gradient(top,  #45484d 0%,#222420 100%);
background: -o-linear-gradient(top,  #45484d 0%,#222420 100%);
background: -ms-linear-gradient(top,  #45484d 0%,#222420 100%);
background: linear-gradient(to bottom,  #45484d 0%,#222420 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#222420',GradientType=0 );
z-index:10;
}

.comic img {
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}

.stripe {
display: block;
width: 100%;
position:absolute;
top:45%;
left:0;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
background: #acd373;
border-width: 2px 0;
border-style: solid;
border-color: #dcffa8;
color: #ACD373;
font-size: 64px;
font-size: 4rem;
font-weight: 700;
z-index: 10;
}

.posts_list {
padding:5px;
z-index:10;
}

.comic img {
width: 95%;
box-shadow: 0 0 3px #000;
z-index:11;
}

a.comic_nav {
display:block;
position:absolute;
top:0;
height:100%;
width:47%;
color: #fff;
z-index:12;
}

a.comic_nav span {
position:absolute;
top:45%;
left:0;
width:100%;
margin-top: -0.05em;
font-size: 64px;
font-size: 4rem;
font-weight: 700;
}

a.comic_nav:hover {
text-decoration: none;
color: #333;
}

a.comic_nav_prev {
left:3px;
text-align:left;
}

a.comic_nav_next {
right:3px;
text-align:right;
}

.footer {
display: block;
clear: both;
color: #fff;
line-height:25px;
padding: 10px 0;
text-align:center;
z-index: 50;
}

a.footer_nav_item.rss:hover {
color: #F58922;
}

a.footer_nav_item.googleplus:hover {
color: #dd4b39;
}

a.footer_nav_item.twitter:hover {
color: #5ea9dd;
}

a.footer_nav_item.facebook:hover {
color: #3d5b98;
}

a.copyright {
display:block;
z-index:11;
}

.home a.comic_nav_prev:first-child {
display:none;
}

/* Showcase */

.showcase {
display: none;
}

/* Small screen */

@media all and (max-width: 1240px) {
 
 .stripe,a.comic_nav span {
  font-size: 40px;
font-size: 2.5rem;
 }
 
.comic img {
max-width: 90%;
max-height: 90%;
}
}
