<div class="comic_title_date_wrap">
<h1 class="comic_title"><a href="/">Oy&trade;</a> | 
<a class="f_item patreon" href="http://www.patreon.com/oycomics" target="_blank">Patreon</a>
<a class="f_item archives" href="/archive">Archive</a>
<a class="f_item ETC" href="http://oycomicsetc.com" target="_blank">Etc.</a>
<a class="f_item email" href="mailto:danny@oycomics.com">Email</a>
</h1>
<div class="comic_date">
{% assign d = page.date | date: "%-d"  %}
{{ page.date | date: "%B" }} 
{% case d %}
  {% when '1' or '21' or '31' %}{{ d }}st
  {% when '2' or '22' %}{{ d }}nd
  {% when '3' or '23' %}{{ d }}rd
  {% else %}{{ d }}th
  {% endcase %}&bull; 
{{ page.date | date: "%Y" }}
</div>
</div>
