<div class="f">
<p><strong>About: <em>Oy - a daily comic</em></strong> follows the people and adventures at a family entertainment company.</p>
<p></p><a class="fitem copyright_email" href="mailto:danny@oycomics.com" target="_blank">
&copy;{{ site.time | date: "%Y" }} 
<img src="/assets/img/b_fff.png" class="copyright_sig" alt="Danny Burleson" border="0" style="width: 75px;" />
</a></p>
<p><a class="google_plus" href="http://google.com/+Oycomics" target="_blank">Google+</a> | 
 <a class="twitter" href="https://twitter.com/oycomics" target="_blank">Twitter</a> | 
 <a class="facebook" href="https://www.facebook.com/oycomics" target="_blank">Facebook</a> | <a href="http://oycomicsetc.com" target="_blank">Etc.</a></p>
</div>
