<div class="socialwrap">
<div class="s">
<a href="http://google.com/+Oycomics">Google+</a><a href="https://twitter.com/oycomics">Twitter</a><a href="https://www.facebook.com/oycomics">Facebook</a><a href="mailto:danny@oycomics.com">Email</a></div>
</div>

<div class="footerwrap">
<div class="f">
<a class="fitem copyright_email" href="mailto:danny@oycomics.com" target="_blank">&copy;{{ site.time | date: "%Y" }}
<img src="/assets/img/b_fff.png" alt="Danny Burleson" border="0" style="width: 75px;" /></a>
</div>
</div>
