<div class="footer">
	<a class="footer_nav_item googleplus" href="https://plus.google.com/+Oycomics" target="_blank">Google+</a> | 
	<a class="footer_nav_item twitter" href="https://twitter.com/oycomics" target="_blank">Twitter</a> | 
	<a class="footer_nav_item facebook" href="https://www.facebook.com/oycomics" target="_blank">Facebook</a><br>
	<a class="footer_nav_item rss" href="http://feeds.feedburner.com/oy" target="_blank">SUBSCRIBE / RSS</a><br>
	<a href="mailto:danny@oycomics.com" class="copyright">&copy; 2007 - {{ site.time | date: "%Y" }} Danny Burleson</a>
</div>
