<a name="featured"></a>
<div class="row onepagestrip text-center featured ">
<div class="container">
<h2>Featured content</h2>

[featured content here]

</div>
</div>

<a name="about"></a>
<div class="row onepagestrip text-center about">
<div class="container">
<h2>About<br><em>Oy&trade; - a daily comic</em></h2>
<h4>Daily all-ages comedy-drama</h4>
<p class="lead">Follow the adventures at a family entertainment company and the lives of the people who work there.</p>
</div>

</div>

<div class="row onepagestrip text-center characters">
<div class="container">
<h2>Characters</h2>

[characters here]

</div>
</div>

<a name="patreon"></a> 
<div class="row onepagestrip text-center patreon">
<div class="container">
<h2>Patreon</h2>

[patreon info here]

</div>
</div>

<a name="contact"></a> 
<div class="row onepagestrip text-center contact">
<div class="container">
<h2>Contact</h2>

[contact and social info here]

</div>
</div>

<a name="archive"></a> 
<div class="row onepagestrip text-center comic-archive">
<div class="container">
<h2>Comic Archives</h2>
<h2>Classics</h2>
<h2>2004 - 2010</h2>
<p>Classic "Oy Comics" comic strips<br>
re-running daily (till they're all up)</p>

<div class="btn-group" role="group">
<a href="http://oycomicsetc.com" target="_blank" class="btn btn-default" role="button">Oy Classics</a>
<a href="http://barnrats.com" target="_blank" class="btn btn-default" role="button">BarnRats</a>
<a href="http://adailycomic.com" target="_blank" class="btn btn-default" role="button">The Crow's Nest</a>
</div>

  <h2>Current Series</h2>

<div class="btn-group" role="group">
<a href="#" class="btn btn-default btn-lg" role="button"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Start From The Beginning</a>
<a href="/" class="btn btn-default btn-lg" role="button">Read The Newest Strip <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
</div>

<h2>{{ site.time | date: "%Y" }}</h2>
<p class="posts_list current">
  {%for post in site.posts reversed%}
    {% unless post.next %}
    {% else %}
      {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
      {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
      {% if year != nyear %}
        </p>
        
<h2>{{ post.date | date: '%Y' }}</h2>
        <p class="posts_list p past">
      {% endif %}
    {% endunless %}
      <a href="{{ post.url }}" class="btn btn-default">{{ post.date | date:"%a | %b %-d" }}</a>
  {% endfor %}
  </p>



</div>
  
</div>


<a name="copyright"></a> 
<div class="row onepagestrip text-center copyright">
<div class="container">
<p>&copy; 2015 Danny Burleson / Oy Comics. All Rights Reserved.</p>
</div>
</div>

<!--JS-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="{{ site.url }}/assets/js/picturefill.min.js"></script>
