<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>{{ page.title }} | Oy&trade; a daily comic</title>
<meta name="description" content="Follow the adventures at a family entertainment company . . . and the lives of the people who work there.">
<link rel="alternate" type="application/rss+xml" href="http://feeds.feedburner.com/oy">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
<link rel="stylesheet" type="text/css" href="{{ site.url }}/style.css">
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
<link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png" />
<link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png" />
<link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png" />
<link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png" />
<link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png" />
<link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png" />
<link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png" />
<link rel="author" href="https://plus.google.com/+Oycomics"/>
<link rel="publisher" href=”https://plus.google.com/+Oycomics"/>
<meta itemprop="name" content="{{ page.title }} | Oy(TM) a daily comic">
<meta itemprop="description" content="Follow the adventures at a family entertainment company . . . and the lives of the people who work there.">
<meta property="fb:admins" content="danny.burleson">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@oycomics">
<meta name="twitter:creator" content="@oycomics">
<meta name="twitter:title" content="{{ page.title }} | Oy(TM) a daily comic">
<meta name="twitter:domain" content="{{ site.url }}">
<meta name="twitter:description" content="Follow the adventures at a family entertainment company . . . and the lives of the people who work there.">
<meta property="og:title" content="{{ page.title }} | Oy(TM) a daily comic">
<meta property="og:site_name" content="Oy(TM) a daily comic"/>
<meta property="og:type" content="article">
<meta property="og:description" content="Follow the adventures at a family entertainment company . . . and the lives of the people who work there.">
{% if page.image %}
<meta itemprop="image" content="{{ site.url }}/comics/{{ page.image }}">
<meta name="twitter:image:src" content="{{ site.url }}/comics/{{ page.image }}">
<meta property="og:image" content="{{ site.url }}/comics/{{ page.image }}">
{% else %}
<meta itemprop="image" content="{{ site.url }}/assets/img/oy_logo.png">
<meta name="twitter:image:src" content="{{ site.url }}/assets/img/oy_logo.png">
<meta property="og:image" content="{{ site.url }}/assets/img/oy_logo.png">
{% endif %}
<meta property="og:image:type" content="image/png">
