<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>{{ page.title }} | Oy&trade; a daily comic</title>
<meta name="description" content="Follow the adventures at a family entertainment company . . . and the lives of the people who work there.">
<link rel="alternate" type="application/rss+xml" href="http://feeds.feedburner.com/oy">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
<link rel="stylesheet" type="text/css" href="{{ site.url }}/s.css">
<!--[if gte IE 9]>
  <style type="text/css">
    .gradient {
       filter: none;
    }
  </style>
<![endif]-->

<script type="text/javascript">
var quotations = new Array()
    quotations[0]= "<div class='quote_wrap'><span class='quote'>Look, I think if you talk down to a kid or aim specifically at a kid, most kids aren't gonna like it, really, because most kids can feel when you are being patronizing.</span><br><span class='quote_source'>~Brad Bird</span></div>"
    quotations[1]= "<div class='quote_wrap'><span class='quote'>A cartoonist is someone who has to draw the same thing day after day without repeating himself.</span><br><span class='quote_source'>~Charles Schulz</span></div>"
    quotations[2]= "<div class='quote_wrap'><span class='quote'>In an animated film you can do whatever you want, but that doesn't mean you should do everything you want.</span><br><span class='quote_source'>~John Lasseter</span></div>"
    quotations[3]= "<div class='quote_wrap'><span class='quote'>My goal is to have the 10-year-olds and the 40-year-olds laughing together.</span><br><span class='quote_source'>~Dan Schneider</span></div>"
    quotations[4]= "<div class='quote_wrap'><span class='quote'>I think if you do something and it turns out pretty good, then you should go do something else wonderful, not dwell on it for too long. Just figure out what's next.</span><br><span class='quote_source'>~Steve Jobs</span></div>"
    quotations[5]= "<div class='quote_wrap'><span class='quote'>A day without laughter is a day wasted.</span><br><span class='quote_source'>~Charlie Chaplin</span></div>"
    quotations[6]= "<div class='quote_wrap'><span class='quote'>Simple is good.</span><br><span class='quote_source'>~Jim Henson</span></div>"
    quotations[7]= "<div class='quote_wrap'><span class='quote'>You can design and create, and build the most wonderful place in the world. But it takes people to make the dream a reality.</span><br><span class='quote_source'>~Walt Disney</span></div>"
    quotations[8]= "<div class='quote_wrap'><span class='quote'>One person's craziness is another person's reality.</span><br><span class='quote_source'>~Tim Burton</span></div>"
    quotations[9]= "<div class='quote_wrap'><span class='quote'>I do believe in the power of story. I believe that stories have an important role to play in the formation of human beings, that they can stimulate, amaze and inspire their listeners.</span><br><span class='quote_source'>~Hayao Miyazaki</span></div>"
function display()
{
a=Math.floor(Math.random()*quotations.length)
document.getElementById('quotation').innerHTML=quotations[a]
setTimeout("display()",6000)
}
</script>

<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
<link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-29x29.png" />
<link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-40x40.png" />
<link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png" />
<link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-58x58.png" />
<link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-60x60.png" />
<link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png" />
<link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png" />
<link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-80x80.png" />
<link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-100x100.png" />
<link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png" />
<link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png" />
<link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png" />
<link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png" />
<link rel="author" href="https://plus.google.com/+Oycomics"/>
<link rel="publisher" href=”https://plus.google.com/+Oycomics"/>
<meta itemprop="name" content="{{ page.title }} | Oy(TM) a daily comic">
<meta itemprop="description" content="Follow the adventures at a family entertainment company . . . and the lives of the people who work there.">
<meta property="fb:admins" content="danny.burleson">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@oycomics">
<meta name="twitter:creator" content="@oycomics">
<meta name="twitter:title" content="{{ page.title }} | Oy(TM) a daily comic">
<meta name="twitter:domain" content="{{ site.url }}">
<meta name="twitter:description" content="Follow the adventures at a family entertainment company . . . and the lives of the people who work there.">
<meta property="og:title" content="{{ page.title }} | Oy(TM) a daily comic">
<meta property="og:site_name" content="Oy(TM) a daily comic"/>
<meta property="og:type" content="article">
<meta property="og:description" content="Follow the adventures at a family entertainment company . . . and the lives of the people who work there.">
{% if page.image %}
<meta itemprop="image" content="{{ site.url }}/comics/{{ page.image }}">
<meta name="twitter:image:src" content="{{ site.url }}/comics/{{ page.image }}">
<meta property="og:image" content="{{ site.url }}/comics/{{ page.image }}">
{% else %}
<meta itemprop="image" content="{{ site.url }}/assets/img/oy_logo.png">
<meta name="twitter:image:src" content="{{ site.url }}/assets/img/oy_logo.png">
<meta property="og:image" content="{{ site.url }}/assets/img/oy_logo.png">
{% endif %}
<meta property="og:image:type" content="image/png">
