<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>{{ page.title }} | Oy&trade; a daily comic</title>
<meta name="description" content="Oy chronicles the daily adventures at a children's entertainment company . . . and the lives of the people who work there.">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
<link rel="author" href="https://plus.google.com/+DannyBurleson">
<meta property="fb:admins" content="danny.burleson">
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="{{ page.title }} | Oy(TM) a daily comic">
<meta name="twitter:description" content="Oy chronicles the daily adventures at a children's entertainment company . . . and the lives of the people who work there.">
<meta property="og:title" content="{{ page.title }} | Oy(TM) a daily comic">
<meta property="og:type" content="website">
<meta property="og:description" content="Oy chronicles the daily adventures at a children's entertainment company . . . and the lives of the people who work there.">
{% if page.image %}<meta property="og:image" content="http://oycomics.com/comics/{{ page.image }}">
{% else %}<meta property="og:image" content="http://oycomics.com/assets/img/oy_logo.png">{% endif %}
<meta property="og:image:type" content="image/png">
