<div class="nwrap">
<div class="n">
<a class="nitem archive_link" href="/archive">Archive</a>
<a class="nitem about_link" href="/about">About</a>
<a class="nitem title_link"href="/"><img src="/assets/img/o_fff.png" title="Oy&trade; a daily comic" alt="Oy&trade; a daily comic" border="0" style="width:50px;"/></a>
<a class="nitem patreon_link" href="http://www.patreon.com/oycomics" target="_blank">Patreon</a>
<a class="nitem copyright_etc" href="http://oycomicsetc.com" target="_blank">Blog</a>
</div>
</div>
