<div class="n">

<a class="title_link"href="/"><img src="/assets/img/o_fff.png" title="Oy&trade; a daily comic" alt="Oy&trade; a daily comic" border="0" /></a>

<div class="n_items">

<div class="n_items_top">
<a class="n_item patreon" href="http://www.patreon.com/oycomics" target="_blank">Patreon</a>
<a class="n_item archives" href="/archive">Archives</a>
</div>

<div class="n_items_bottom">
<a class="n_item email" href="mailto:danny@oycomics.com">Email</a>
<a class="n_item ETC" href="http://oycomicsetc.com" target="_blank">Etc.</a>
</div>

</div>

</div>
