<div class="n">
<a class="nitem title_link"href="/"><img src="/assets/img/o.png" title="Oy&trade; a daily comic" alt="Oy&trade; a daily comic" border="0" style="width:60px;"/></a>
<a class="nitem archive_link" href="/archive"><img src="/assets/img/a.png" title="Comics Archive" alt="Comics Archive" border="0" style="width:60px;"/></a>
<a class="nitem patreon_link" href="http://www.patreon.com/oycomics" target="_blank"><img src="/assets/img/p.png" title="Patreon" alt="Patreon" border="0" style="width:60px;"/></a>
<a class="nitem copyright_email" href="mailto:danny@oycomics.com">&copy;{{ site.time | date: "%Y" }}
<img src="/assets/img/b.png" title="Danny Burleson" alt="Danny Burleson" border="0" style="width:75px;"/></a>
</div>
