<div class="nav">
	{% for post in site.posts limit:1 %}
	<a class="nav_item todays_comic" href="{{ post.url }}">Today's</a>
	{% endfor %}
	<a class="nav_item first_comic_link" href="/">First</a>
	<a class="nav_item archive_link" href="/archive">Archive</a>
	
	<a class="nav_item about" href="/about">About</a>	
	<a class="nav_item blog" href="/" target="_blank">Blog</a>
	<a class="nav_item rss" href="{{ site.url }}/rss" target="_blank">RSS</a>
	
	<a class="nav_item googleplus" href="https://plus.google.com/+" target="_blank">Google+</a>
	<a class="nav_item twitter" href="https://twitter.com/" target="_blank">Twitter</a>
	<a class="nav_item facebook" href="https://www.facebook.com/" target="_blank">Facebook</a>
</div>
