<div class="patreon_spotlight"><p>This comic is made possible by the support of loyal readers like you!</p>
<p>Become a Patron today and receive bonus content every month!</p>
<p>More info at <a href="http://patreon.com/oycomics" target="_blank">patreon.com/oycomics</a>, or pledge now by clicking the button below . . .</p>
  <p style="text-align:center;"><input onclick="window.top.location.href = 'http://www.patreon.com/bePatron?rid=35296&u=115323&patAmt=1.00#r35296'; return false;" type="submit" class="btn submitForm bePatron" value="Pledge $1+ Per Month" style="width: 300px;"></p>
</div>
