/* FOUNDATION */

html {
  background: #fff url(/assets/img/t_000.png);
}

body {
  padding-top: 50px;
}

/* NAVIGATION */

.navbar {
background: transparent url(/assets/img/t_000.png);
}

/* CONTENT */

.content {
position: relative;
overflow: hidden;
text-align: center;
}

/* HOME */

.home {
}

/* ARCHIVE */

.archive {
}

/* COMIC */

.comic {
}

.comic img {
  width: 94% !important;
  max-width: 2048px;
}

/* COMIC NAV */

.home a.comic_nav_prev:first-child {
  display:none;
} /* Hides extra home PREV */

a.comic_nav { display: block;
position: absolute;
top: 0;
height: 100%;
line-height: 100%;
width: 35%;
color: #222;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
}

a.comic_nav:hover {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
}

a.comic_nav.comic_nav_prev {
left: 0;
text-align: left;
}

a.comic_nav.comic_nav_next {
right: 0;
text-align: right;
}


a.comic_nav.comic_nav_prev span.glyphicon.glyphicon-chevron-left {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 50px;
    margin: auto;
font-size: 50px;
background: pink;
}

a.comic_nav.comic_nav_next span.glyphicon.glyphicon-chevron-right {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 50px;
    margin: auto;
font-size: 50px;
background: navy;
}

/* FOOTER */

.footer { background: #222; 
padding-top: 20px;}
