/* FOUNDATION */

html {
  background: #222;
}

body {
  padding-top: 50px;
}

/* NAVIGATION */

/* CONTENT */

.content {
position: relative;
overflow: hidden;
}

.home {
}

.comic {
}

.archive {
}

/* COMIC NAV */

.home a.comic_nav_prev:first-child {
  display:none;
} /* Hides extra home PREV */

a.comic_nav { display: block;
position: absolute;
top: 0;
height: 100%;
line-height: 100%;
width: 35%;
color: #222;
}

a.comic_nav.comic_nav_prev {
left: 0;
text-align: left;
}

a.comic_nav.comic_nav_next {
right: 0;
text-align: right;
}


a.comic_nav.comic_nav_prev span.glyphicon.glyphicon-chevron-left {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 50px;
    margin: auto;
font-size: 50px;
background: pink;
}

a.comic_nav.comic_nav_next span.glyphicon.glyphicon-chevron-right {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 50px;
    margin: auto;
font-size: 50px;
background: navy;
}

/* FOOTER */

.footer { background: #222; 
padding-top: 20px;}
