<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/Article">
<head>
{% include head.html %}
<meta property="og:image:width" content="2048">
<meta property="og:image:height" content="2048">
<meta name="twitter:url" content="{{ site.url }}/">
<meta property="og:url" content="{{ site.url }}/">
</head>
<body>
<div class="site home">
<div class="homecomic">
	{{ content }}
</div>
{% include nav.html %}
{% include title.html %}
<div class="copy_paste_share_home">
{% for post in site.posts limit:1 %}
<a href="{{ site.url }}{{ post.url }}">{{ site.url }}{{ post.url }}</a>
{% endfor %}
</div>

<!--- <div class="copy_paste_share">
	<span>Copy.Paste.Share.</span>
	{% for post in site.posts limit:1 %}
	<a href="{{ site.url }}{{ post.url }}">{{ site.url }}{{ post.url }}</a>
	{% endfor %}
</div> --->

{% include footer.html %}
</div>
</body>
</html>
